.App {
  text-align: center;
}
.divwithuppermargin{
  margin-top: 111px;
  padding:33px!important;
}

.whitecolorcss{
  color: white;;
}

.ratingdiv{
  padding-top: 43px;
    background-color: #8080802e;
    width: 100%;
    position: absolute;
}

.headerrow{
  padding: 0px!important;
  font-size: 23px;
  width: 300px;
}

.mansearch{
  padding: 11px;
}


.headermaindiv{
  background-color: #2f3a4a;
    display: block;
    height: 100px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 200
}
.Navbar {
  background-color: #adb5bd!important;
}

.bg-light {
  background-color: #adb5bd!important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 11px!important;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
