.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 9s linear;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 12s 5s, opacity 5s linear;
  }